* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 15px;
}

h1, h2, p {
    font-weight: 400;
}

p {
    margin-top: 20px;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.input {
    border: 1px solid #fac92bdb;
    border-radius: 5px;
    padding: 13px 20px;
    background-color: white;
    -webkit-appearance: none;
}


.spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #fac92bdb; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: none;
    animation: spin 2s linear infinite;
    margin-left: 20px;
}

.searchResults {
    margin: 20px 0;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #ee3d23;
}

.searchResults th,
.searchResults td {
    padding: 5px 10px;
    text-align: left;
    border: 1px solid #ee3d23;
}

.searchResults th {
    background-color: #ee3d23;
    color: white;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}